# Python / Backend
__pycache__/
*.pyc
*.pyo
venv/
.env
*.egg-info/
dist/
build/

# Node / Frontend
node_modules/
.next/
.cache/
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
~*.tmp
~WRL*.tmp

# Word docs (nie pushujemy pracy dyplomowej)
*.docx
*.doc
